{% extends 'incatest/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	{% if IVSI %}
	<!-- <hr> -->
		<h4>투자대비 수익률 : {{ IVSI.intervsinvest }}</h4>
		<h4>투자대비 수익률(INDEX) : {{ IVSI.intervsinvest_index }}</h4>
		<h4>투자대비 수익률(SCORE) : {{ IVSI.intervsinvest_score }}</h4>
	<hr>
	{% endif %}
	</div>
	<div class="col-md-8 col-md-offset-2">
	{% if rows %}
	<table class="table table-striped">
    <thead>
      <tr>
        <th>코드</th>
        <th>날짜</th>
        <th>일간비중</th>
        <th>일간수익률</th>
        <th>누적 일간수익률</th>
        <th>INDEX</th>
        <th>일간수익률(INDEX)</th>
        <th>누적 일간수익률(INDEX)</th>
        <th>SCORE</th>
        <th>일간수익률(SCORE)</th>
        <th>누적 일간수익률(SCORE)</th>
      </tr>
    </thead>
    <tbody>
        {% for row in rows %}
      <tr>
        <td>{{ row.0 | safe }}</td>
        <td>{{ row.1 | safe }}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>{{ row.8 }}</td>
        <td>{{ row.4 }}</td>
        <td>{{ row.5 }}</td>
        <td>{{ row.9 }}</td>
        <td>{{ row.6 }}</td>
        <td>{{ row.7 }}</td>
        <td>{{ row.10 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
	{% endif %}
	<div id="chart"  style="margin-left:-5%;"></div>
	</div>
	<br><br>
	
</div>
{% endblock %}


{% block script %}
{% if columns %}
<script type="text/javascript">
    var columns_json = '{{ columns | safe }}';
    console.log(columns_json);
    var col = JSON.parse(columns_json);
    console.log(col);

    var chart = c3.generate({
        data: {
            x: 'x',
            columns: col
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d'
                }
            }
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        }
    });
</script>
{% endif %}
{% endblock %}
