{% extends 'incatest/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
	{% if IVSI %}
	<!-- <hr> -->
		<h4>보유수익률 : {{ IVSI.0 |floatformat:10 }} %</h4>
		<h4>DNA-리스크 based 수익률 : {{ IVSI.1 |floatformat:10 }} %</h4>
		<h4>DNA-리턴 based 수익률 : {{ IVSI.2 |floatformat:10 }} %</h4>
		<h4>DNA-리턴-리스크 based 수익률 : {{ IVSI.3 |floatformat:10 }} %</h4>
	<hr>
	{% endif %}
	</div>

	<div class="col-md-10 col-md-offset-1">
	<!-- <div id="chart1"  style="margin-left:-2%;"></div> -->
	<br><br><br>
	<div id="chart2"  style="margin-left:-2%;"></div>
	<br><br><br><br>
	{% if rows %}
	<table class="table table-striped">
    <thead>
      <tr>
        <th>코드</th>
        <th>날짜</th>
        <th>투자금액</th>
        <th>일간수익률</th>
        <th>누적 일간수익률</th>
        <th>보유수익률</th>
        <th>DNA-리스크 based 비중</th>
        <th>일간수익률</th>
        <th>누적 일간수익률</th>
        <th>DNA-리스크 based 수익률</th>
        <th>DNA-리턴 based 비중</th>
        <th>일간수익률</th>
        <th>누적 일간수익률</th>
        <th>DNA-리턴 based 수익률</th>
      </tr>
    </thead>
    <tbody>
        {% for row in rows %}
      <tr>
        <td>{{ row.0 | safe }}</td>
        <td>{{ row.1 | safe }}</td>
        <td>{{ row.2 |floatformat:5 }}</td>
        <td>{{ row.3 |floatformat:5 }}</td>
        <td>{{ row.8 |floatformat:5 }}</td>
        <td>{{ row.11 |floatformat:5 }}</td>
        <td>{{ row.4 |floatformat:5 }}</td>
        <td>{{ row.5 |floatformat:5 }}</td>
        <td>{{ row.9 |floatformat:5 }}</td>
        <td>{{ row.12 |floatformat:5 }}</td>
        <td>{{ row.6 |floatformat:5 }}</td>
        <td>{{ row.7 |floatformat:5 }}</td>
        <td>{{ row.10 |floatformat:5 }}</td>
        <td>{{ row.13 |floatformat:5 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
	{% endif %}
	
	</div>
	<br><br>
	
</div>
{% endblock %}


{% block script %}
{% if columns %}
<script type="text/javascript">
    var columns_json = '{{ columns | safe }}';
    console.log(columns_json);
    var col = JSON.parse(columns_json);
    console.log(col);

    var chart1 = c3.generate({
    	bindto: '#chart1',
        data: {
            x: 'x',
            columns: col
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d'
                }
            }
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        }
    });

    var columns_json_sum = '{{ columns_sum | safe }}';
    console.log(columns_json_sum);
    var col_sum = JSON.parse(columns_json_sum);
    console.log(col_sum);

    var chart2 = c3.generate({
    	bindto: '#chart2',
        data: {
            x: 'x',
            columns: col_sum
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d'
                }
            }
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        }
    });
</script>
{% endif %}
{% endblock %}
