{% extends 'incatest/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
	{% if last_log %}
		<h4>보유수익률 : {{ last_log.intervsinvest_sum | floatformat:10 }}</h4>
		<h4>DNA-리스크 based 수익률 : {{ last_log.intervsinvest_index_sum | floatformat:10 }}</h4>
		<h4>DNA-리턴 based 수익률 : {{ last_log.intervsinvest_score_sum | floatformat:10 }}</h4>
		<h4>DNA-리턴-리스크 based 수익률 : {{ last_log.intervsinvest_index_score_sum | floatformat:10 }}</h4>
	<hr>
	{% endif %}
	</div>

	<div class="col-md-10 col-md-offset-1">
	<!-- <div id="chart1"  style="margin-left:-2%;"></div> -->
	<br><br><br>
	<div id="chart2"  style="margin-left:-2%;"></div>
	<br><br><br><br>
	{% if logs %}
	<table class="table table-striped">
    <thead>
      <tr>
        <th>코드</th>
        <th>날짜</th>

        <th>투자금액</th>
        <th><div>일간</div>수익률</th>
        <th><div>누적</div> 일간수익률</th>
        <th><div>보유</div>수익률</th>

        <th><div>DNA-리스크</div> based 비중</th>
        <th><div>일간</div>수익률</th>
        <th><div>누적</div> 일간수익률</th>
        <th><div>DNA-리스크</div> based 수익률</th>

        <th><div>DNA-리턴</div> based 비중</th>
        <th><div>일간</div>수익률</th>
        <th><div>누적</div> 일간수익률</th>
        <th><div>DNA-리턴</div> based 수익률</th>

        <th><div>DNA-리턴-리스크</div> based 평균비중</th>
        <th><div>일간</div>수익률</th>
        <th><div>누적</div> 일간수익률</th>
        <th><div>DNA-리턴-리스크</div> based 수익률</th>
      </tr>
    </thead>
    <tbody>
        {% for log in logs %}
      <tr>
        <td>{{ log.result.itemcode | safe }}</td>
        <td>{{ log.wdate | safe }}</td>

        <td>{{ log.weight | floatformat:1 }}</td>
        <td>{{ log.interest | floatformat:10 }}</td>
        <td>{{ log.interest_sum | floatformat:10 }}</td>
        <td>{{ log.intervsinvest_sum | floatformat:10 }}</td>

        <td>{{ log.index | floatformat:10 }}</td>
        <td>{{ log.interest_index |floatformat:10 }}</td>
        <td>{{ log.interest_index_sum | floatformat:10 }}</td>
        <td>{{ log.intervsinvest_index_sum | floatformat:10 }}</td>

        <td>{{ log.score | floatformat:10 }}</td>
        <td>{{ log.interest_score | floatformat:10 }}</td>
        <td>{{ log.interest_score_sum | floatformat:10 }}</td>
        <td>{{ log.intervsinvest_score_sum | floatformat:10 }}</td>

        <td>{{ log.index_score | floatformat:10 }}</td>
        <td>{{ log.interest_index_score | floatformat:10 }}</td>
        <td>{{ log.interest_index_score_sum | floatformat:10 }}</td>
        <td>{{ log.intervsinvest_index_score_sum | floatformat:10 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
	{% endif %}
	
	</div>
	<br><br>
	
</div>
{% endblock %}


{% block script %}
{% if columns_sum %}
<script type="text/javascript">
    // var columns_json = '{{ columns | safe }}';
    // console.log(columns_json);
    // var col = JSON.parse(columns_json);
    // console.log(col);

    // var chart1 = c3.generate({
    // 	bindto: '#chart1',
    //     data: {
    //         x: 'x',
    //         columns: col
    //     },
    //     axis: {
    //         x: {
    //             type: 'timeseries',
    //             tick: {
    //                 format: '%Y-%m-%d'
    //             }
    //         }
    //     },
    //     grid: {
    //         x: {
    //             show: true
    //         },
    //         y: {
    //             show: true
    //         }
    //     }
    // });

    var columns_json_sum = '{{ columns_sum | safe }}';
    console.log(columns_json_sum);
    var col_sum = JSON.parse(columns_json_sum);
    console.log(col_sum);

    var chart2 = c3.generate({
    	bindto: '#chart2',
        data: {
            x: 'x',
            columns: col_sum
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: '%Y-%m-%d'
                }
            }
        },
        grid: {
            x: {
                show: true
            },
            y: {
                show: true
            }
        }
    });
</script>
{% endif %}
{% endblock %}
